/* ELEMENTS */

html, body {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background-color: white;
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 5rem;
  }
  
  p {
    font-family: 'Pontano Sans', sans-serif;
  }
  a {
    color: #1E73BE;
  }
  ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 1rem;
    padding: 0rem;
  }

  footer {
    background-color: #1E73BE;
    background-color: white;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom of the page */
  }
  

  /* CLASS */

/* .form-check-padding {
    padding-top: 1rem;
  }
  
  .form-button-padding {
    margin-top: 1rem;
  }


  .ndis-list {
    list-style-position: outside;
  }

  .title-h1 {
    line-height: 1.5;
    color: #1E73BE;
    font-weight: 900;
  }
  .title-h2 {
  font-family: 'Pontano Sans', sans-serif;
  color: #1E73BE;
  font-weight: normal;
  font-size: 2rem;
  
  }
  .title-h3 {
  font-family: 'Pontano Sans', sans-serif;
  color: #1E73BE;
  font-weight: normal;
  font-size: 1.5rem;
  }
  
  .section-h2 {
  color: #FFFFFF;

  
  }
  .section-h3 {
  color: #FFFFFF;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  }
   */

  /* Increase font size in the navbar */
.navbar-nav .nav-link {
    font-size: 1.4rem; /* Adjust the font size as needed */
  }

  .footer-p{
    padding-top: 1rem;
    color: #FFFFFF;
  }
  
  /* .contact-list {
    margin-bottom: -1.5rem;
    margin-top: -0.5rem;
  } */
  
  /* Container section */
  .container-fluid {
    padding: 4% 4% 5%;
    flex: 1; /* This ensures the container expands to take up the available space */

  }
  
  #services .container-fluid {
    padding: 4% 2% 1%;
  }
  
  .navigation {
    padding-bottom: 2px;
  }

  .ndis-container-fluid{
    padding:2% 12%
  }
  
  .next-step {
    padding: 2rem 0rem;
  }
  #title .container-fluid {
    padding: 2% 14%;
  
  }


/* --------------------------------------- sections -------------------------------------- */
  
.section-heading {
    line-height: 1.5;
    font-size: 3rem;
  }
  
  .nav-section {
  /* background-color: #1E73BE; */
  background-color: #FFFFFF;

  }

  .coloured-section {
      background-color: #1E73BE;
  }



.white-section {
  background-color: #FFFFFF;
  /* background-color: #bdce93; */
 }




  .banner {
    width: 100%;
  }
  
  .below-banner {
  height: 3rem;
  width: 100%;
  background-color: #1E73BE;
  }
  
  button:hover{
    background-color: #bdce93;
    /* border-color: #1E73BE; */
  }
  
  .ACA-btn{
      background-color: #1E73BE;
      color: #FFF;
  }
  
  /* Contact */
  
  .form-group {
    padding:1% 15%;
  }
  /* about */
  .Taane-image {
    border-radius: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  .profile_h2{
    padding-bottom: 0.5rem;
  }
  
  .profile-image {
    border-radius: 100%;
    height: 20rem;
    margin: 7%;
}
  
  .profile-text{
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  
  /* product */
  
  .card {
    width:100%;
    margin-bottom: 2rem;
    /* margin-left:100px; */
  }
  .product-card {
    text-align: center;
  }
  
  .card-img-top{
      width: 10rem;
  }
  
  
  .ndis-list-div {
    width:35rem;
    margin: auto;
    padding: 10px;
    text-align: left;
  }
  
  .product-heading {
    text-align: left;
    font-family: 'Qwigley', cursive;
    font-size: 3rem;
    font-weight: lighter;
  }
  
  .product-para {
    text-align: justify;
  }
  
  /* .profile-image {
    border-radius: 100%;
    height: 20rem;
  } */
  
  #profile-image {
    margin: 7%
  }
  
  
  .footer-i{
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .contact-icon {
    color: #1E73BE;
  }
  
  
  .contact-div {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  
  .contact-col {
    padding:3rem 2rem;
    /* padding-right: 2rem; */
  }
  
  .carousel-indicators{
    margin-top: 1rem;
    color: #1E73BE;
  }
  
  .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .carouselExampleIndicators{
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .fa-arrow-alt-circle-up{
    margin-bottom: 2rem;
  }
  .hyper-link{
    color: #07A19D;
    font-weight: 900;
  }

  /* ============================================== Devices ==============================================*/

    /* ----------------------------- Small Laptop and landscape tablets ------------------------------------- */

  @media (max-width: 940px) {
  /* .Logo-image {
    height: 100px;
  } */
  /* h1 {
    display: none !important;
  } */

  h1{
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .contact-col {
    padding:2rem 2rem;
  }
  /* h3 {
    font-size: 1.5rem;
  } */
   .title-h3 {
    display: none !important;
  }
}

/* -------------------------------- standard mobile phone iPad mini -------------------- */
@media (max-width: 767px) {
    /* .Logo-image {
      height: 100px;
    } */

    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1rem;
    }
      .contact-div {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .contact-col {
        padding:1rem 1rem;
        /* padding-right: 2rem; */
      }

    .title-h1 {
      font-size: 2rem;
    }
    .social-media {
      display: none !important;
    }
}


/* -------------------- Portrait mode phone and small tablets ---------------------- */
@media (max-width: 600px) {
    .card {
      /* width: 95%; */
      max-width: 86%;
      margin-left: 7%;
      text-align: center;
}
.profile-image {
    border-radius: 100%;
    height: 10rem;
  }
  
  #profile-image {
    margin: 7%
  }

}