@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ELEMENTS */
html, body {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  background-color: white;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* div {
  outline: 2px solid red;
} */

h1 {
  font-family: 'Roboto', 'Montserrat Alternates', sans-serif; /* Changed to Roboto */
  font-size: 3rem;
}

h2 {
  font-family: 'Roboto', 'Montserrat Alternates', sans-serif;
  font-size: 2rem;
}
h3 {
  font-family: 'Roboto', 'Montserrat Alternates', sans-serif;
  font-size: 1.5rem;
}
h4 {
  font-family: 'Roboto', 'Montserrat Alternates', sans-serif;
  font-size: 1.3rem;
}
h5 {
  font-family: 'Roboto', 'Montserrat Alternates', sans-serif;
  font-size: 1.2rem;
}
p {
  font-family: 'Roboto', 'Pontano Sans', sans-serif;
}
a {
  color: #007BFF; /* Default color for links */
  text-decoration: none; /* Removes underline */
}
a:hover {
  color: #0a5f72; /* Darker shade for hover */
}
ul {
  list-style-position: inside;
  list-style-type: square;
  margin: 1rem;
  padding: 0rem;
}
footer {
  background-color: #0a5f72;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}

/* FONTS */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-blue {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #0a5f72;
}


.roboto-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #0a5f72;
}


.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}


/* CLASS */
.form-check-padding {
  padding-top: 1rem;
}
.form-button-padding {
  margin-top: 1rem;
}
.ndis-list {
  list-style-position: outside;
}
.title-h1 {
  line-height: 1.5;
  color: #0a5f72;
  font-weight: 900;
}
.title-h2 {
  font-family: 'Pontano Sans', sans-serif;
  color: #0a5f72;
  font-weight: normal;
  font-size: 2rem;
}
.title-h3 {
  font-family: 'Pontano Sans', sans-serif;
  color: #0a5f72;
  font-weight: normal;
  font-size: 1.5rem;
}
.section-h2 {
  color: #FFFFFF;
}
.section-h3 {
  color: #FFFFFF;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
}
.footer-p {
  padding-top: 1rem;
  color: #FFFFFF;
}

/* Container section */
.container-fluid {
  padding: 4% 4% 5%;
  flex: 1;
}
#services .container-fluid {
  padding: 4% 2% 1%;
}
.ndis-container-fluid {
  padding: 2% 12%;
}
.next-step {
  padding: 2rem 0rem;
}
#title .container-fluid {
  padding: 2% 14%;
}
#footer .container-fluid {
  padding: 2% 2% 1%;
}
#banner-section .container-fluid {
  padding: 4% 4% 5%;
  flex: 1;
  height: 100vh;
}

/* Sections */
.section-heading {
  line-height: 1.5;
  font-size: 3rem;
}
.coloured-section {
  background-color: #0a5f72;
}
.coloured-section h3, 
.coloured-section p, 
.coloured-section li {
  color: white;
}
.container-fluid-content {
  padding: 4% 4% 1%;
  flex: 1;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}
.container-fluid-content-cards {
  padding: 2% 2% 1%;
  flex: 1;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.white-section {
  background-color: #FFFFFF;
}
.off-white-section {
  background-color: #F7F9F9;
}

/* Navbar */
.nav-section {
  background-color: #FFFFFF;
}
.logo-img {
  height: 3rem;
  width: auto;
  margin-right: 10px;
}
.navbar-nav .nav-link {
  font-size: 1rem;
  padding-right: 20px;
  color: black;
}
.current-page {
  color: #ffffff !important;
  background-color: #0a5f72 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #0a5f72;
  color: white !important;
  text-decoration: none;
}
.dropdown-menu .dropdown-item {
  font-size: 1rem;
  color: black;
}
.dropdown-item.active:hover,
.dropdown-item:active:hover {
  background-color: #0a5f72;
  color: white;
}
.navbar-nav .nav-item {
  padding-right: 15px;
}
.navbar-brand img {
  height: 4rem;
  margin-right: 10px;
  vertical-align: middle;
}
.navbar-brand {
  font-size: 1.4rem;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}
.nav-link,
.dropdown-item,
.current-page {
  transition: color 0.3s ease, background-color 0.3s ease;
}
.nav-link:hover,
.dropdown-item:hover,
.current-page:hover {
  color: black !important;
  background-color: #EADDA6 !important;
}
.nav-link.active {
  color: #007bff; /* Change this to your desired active link color */
  font-weight: bold;
}



/* Buttons */
.custom-btn {
  background-color: #721d0a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}
.custom-btn:hover {
  background-color: #0a5f72;
  color: #FFFFFF;
}
.custom-btn-alt {
  background-color: #0a5f72;
  color: white;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
}
.custom-btn-alt:hover {
  background-color: #721d0a;
  color: #FFFFFF;
}

/* Banner */
.banner-section {
  background-color: #0a5f72;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  /* outline: 2px solid black; */
}

.banner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* outline: 2px solid black; */
}

.banner-img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 0px;
  /* outline: 2px solid blue; */
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* outline: 2px solid yellow; */
}

.banner-section .col-md-8 {
  width: 80%;
  margin: 0 auto;
  /* outline: 2px solid purple; */
}

.image-container {
  height: 100%; /* Ensure the parent div takes up the full height */
  display: flex; /* Use flexbox to align the image */
  align-items: center; /* Center the image vertically */
  justify-content: flex-end; /* Align the image to the right */
  width: 100%; /* Ensure the container takes the full width */
  padding-right: 0; /* Remove any padding on the right */
}

.image-container img {
  height: 100%; /* Make the image take up 100% of the height of the parent */
  width: 100%; /* Ensure the image takes up the full width */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.text-container {
  text-align: left !important;
  padding: 30px 20px 20px 40px !important;
  margin-left: 0 !important;
  width: 100% !important;
  box-sizing: border-box;
}
.left-text {
  padding-left: 30px;
  width: 80% !important;
  position: relative;
  display: block;
  padding: 20px;
}
.text-container h2, 
.text-container p, 
.text-container ul, 
.text-container ol, 
.text-container li {
  text-align: left;
  margin-left: 20 !important;
  padding-left: 20 !important;
}
.text-container ul, 
.text-container ol {
  padding-left: 20px;
}

/* Footer */
.footer-section {
  background-color: #0a5f72;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer-i {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.footer-right {
  display: flex;
  align-items: center;
}
.footer-left {
  display: flex;
  flex-direction: column;
}
.contact-icon {
  color: #0a5f72;
}
.security-logo {
  width: 120px;
  height: auto;
}

/* Cards */
.card-container-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.card-container {
  display: flex;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Gallery */
.photo-gallery {
  text-align: center;
  margin-bottom: 40px;
}
.photo-gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.gallery-item {
  text-align: center;
}
.gallery-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
  box-shadow: #F7F9F9;
}
.caption-container {
  padding: 10px;
  border-radius: 2px;
  background-color: #f9f9f9;
}
.caption {
  font-size: 1rem;
  color: #333;
  margin: 0;
}
.photo-gallery {
  padding: 20px;
  background-color: #f9f9f9;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.caption-container {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.gallery-item:hover .caption-container {
  opacity: 1;
}
.gallery-item:hover img {
  transform: scale(1.05);
}

/* Houses */
.container-fluid-content-houses {
  padding: 4% 4% 1%;
  flex: 1;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: white;
}
.recaptcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75);
  transform-origin: center;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: center;
  margin: 0 auto;
  width: 100%;
}
.recaptcha-container iframe {
  height: auto !important;
  display: block;
}

/* Coordination */
.list-section h3, 
.list-section p {
  text-align: left;
  margin-left: 1rem;
}
.list-container {
  display: flex;
  justify-content: center;
}
.list-container ul {
  list-style-type: disc;
  padding-left: 1rem;
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.list-container li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Contact form */
.contact-form {
  padding-bottom: 1rem;
}

/* Custom Radio Buttons */
.custom-radio-btn .form-check-input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  position: relative;
  margin-right: 0.5em;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-radio-btn .form-check-input:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-radio-btn .form-check-input:checked::before {
  content: '';
  display: block;
  width: 0.75em;
  height: 0.75em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-radio-btn .form-check-label {
  cursor: pointer;
}

/* Devices */
@media (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .contact-col {
    padding: 2rem 2rem;
  }
  .navbar-brand img {
    height: 2rem;
    margin-right: 5px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 0;
  }
  .navbar-nav .nav-item {
    padding-right: 10px;
  }
  .nav-section a {
    font-size: 1rem;
  }
  .dropdown-item {
    font-size: 0.8rem;
  }
  .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
  .title-h3,
  .footer-p {
    display: none !important;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .banner-left {
    flex: 1 1 60%;
    text-align: center;
  }
  .col-md-4 {
    flex: 1 1 40%;
  }
  .banner-img {
    width: auto;
    height: 100%;
  }
  .contact-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contact-col {
    padding: 1rem 1rem;
    padding-right: 2rem;
  }
  .title-h3,
  .social-media,
  .footer-p {
    display: none !important;
  }
  .gallery-container {
    grid-template-columns: 1fr;
  }
  .card-container-inline {
    justify-content: center;
  }
  .card-container {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  .houses-container .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .houses-container .col-md-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .houses-container .card {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .page-item {
    list-style: none;
  }
  .page-link {
    text-decoration: none;
    color: #007bff;
    padding: 10px 15px;
    border: 1px solid #007bff;
    border-radius: 2px;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  .page-link:hover {
    background-color: #007bff;
    color: white;
  }
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  .card {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 15px;
  }
  .houses-container {
    text-align: center;
    margin-bottom: 40px;
  }
  .sil-content {
    display: none !important;
  }
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card {
    max-width: 70%;
    margin-left: 7%;
    text-align: center;
  }
  .cos-section {
    display: none;
  }
  .list-section h3 {
    font-size: 1.5rem;
  }
  .list-section p {
    font-size: 1rem;
  }
  .list-section li {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .dropdown-menu .dropdown-item {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
  .banner-section .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-section .col-md-8 {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .banner-section .col-md-4 {
    display: none;
  }
  .card {
    max-width: 90%;
    margin-left: 7%;
    text-align: center;
  }
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    padding: 1rem;
  }
  .card h5 {
    font-size: 1rem;
  }
  .card h6,
  .card p {
    display: none;
  }
  .footer-p,
  .footer-r {
    display: none !important;
  }
  .footer-i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }
  .gallery-container {
    grid-template-columns: 1fr;
  }
}