/* div {
  outline: 2px solid red;
  background-color: #FFFFFF;
} */
/* ELEMENTS */

html, body {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background-color: white;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
  h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
  }

  h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
  }

  h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5rem;
  }

  h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.3rem;
  }

  h5 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
  }
  
  p {
    font-family: 'Pontano Sans', sans-serif;
  }
  a {
    color: #0D1F30;

  }
  ul {
    list-style-position: inside;
    list-style-type: square;
    margin: 1rem;
    padding: 0rem;
  }

  footer {
    background-color: #0D1F30;
    /* background-color: white; */
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto; /* Pushes the footer to the bottom of the page */
  }
  

   /* CLASS */

.form-check-padding {
    padding-top: 1rem;
  }
  
  .form-button-padding {
    margin-top: 1rem;
  }


  .ndis-list {
    list-style-position: outside;
  }

  .title-h1 {
    line-height: 1.5;
    color: #0D1F30;
    font-weight: 900;
  }
  .title-h2 {
  font-family: 'Pontano Sans', sans-serif;
  color: #0D1F30;
  font-weight: normal;
  font-size: 2rem;
  
  }
  .title-h3 {
  font-family: 'Pontano Sans', sans-serif;
  color: #0D1F30;
  font-weight: normal;
  font-size: 1.5rem;
  }
  
  .section-h2 {
  color: #FFFFFF;

  
  }
  .section-h3 {
  color: #FFFFFF;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  }



  .footer-p{
    padding-top: 1rem;
    color: #FFFFFF;
  }
  

  /* Container section */
  
.container-fluid {
    padding: 4% 4% 5%;
    flex: 1;

  }
  
  #services .container-fluid {
    padding: 4% 2% 1%;
  }
  

  .ndis-container-fluid{
    padding:2% 12%
  }
  
  .next-step {
    padding: 2rem 0rem;
  }
  #title .container-fluid {
    padding: 2% 14%;
  
  }

  #footer .container-fluid {
    padding: 2% 2% 1%;
  }

  #banner-section .container-fluid {
    padding: 4% 4% 5%;
    flex: 1;

  }
  
  /* --------------------------------------- sections -------------------------------------- */
  
.section-heading {
    line-height: 1.5;
    font-size: 3rem;
  }
  

  .coloured-section {
      background-color: #0D1F30; 
  }

  .coloured-section h3, 
.coloured-section p, .coloured-section li {
    color: white;
}

  .container-fluid-content {
    padding: 4% 4% 1%;
    flex: 1;
    margin: 0 auto;   
    width: 80%;  
    text-align: center; 
    /* border: 3px solid grey;  Adds a grey border */
    border-radius: 5px;      /* Rounds the corners */

  }

  .container-fluid-content-cards {
    padding: 2% 2% 1%;
    flex: 1;
    margin: 0 auto;   
    width: 90%;  
    text-align: center; 
    /* border: 3px solid grey;  Adds a grey border */
    border-radius: 5px;      /* Rounds the corners */
    padding-top: 20px; /* Padding when cards are in normal layout */
    padding-bottom: 20px;

  }

.white-section {
  background-color: #FFFFFF;
  /* background-color: #bdce93; */
 }

 .off-white-section {
  background-color: #F7F9F9;

 }


 .dropdown-item.active,
.dropdown-item:active {
  background-color: #0D1F30;
  color: white;
}

 /* --------------------------------------- lists -------------------------------------- */

 /* Reset list styling */
ul {
  list-style-type: disc; /* Choose a disc, or other styles like circle/square */
  padding-left: 150px; /* Control the indentation of top-level list items */
}

/* Apply specific padding to nested lists */
ul ul {
  list-style-type: circle; /* Use a different bullet style for nested lists */
  padding-left: 20px; /* Adjust padding for nested list indentation */
}

/* Add optional styling for better spacing */
ul li {
  margin: 15px 0; /* Adjust vertical spacing between list items */
  text-align: left; /* Align heading to the left */
}

/* Optional: Styling for more nested lists if needed */
ul ul ul {
  list-style-type: square; /* Change bullet style for deeper nesting levels */
  padding-left: 20px;
}

/* --------------------------------------- Navbar -------------------------------------- */

.nav-section {
    /* background-color: #0D1F30; */
    background-color: #FFFFFF;
  
  }

/* .navigation {
    padding-bottom: 2px;
  } */


.logo-img {
  height: 3rem;
  width: auto;
  margin-right: 10px;
  }

.navbar-nav .nav-link {
  font-size: 1rem;
  padding-right: 20px;
  color: black;
}


.dropdown-item.active,
.dropdown-item:active {
  background-color: #0D1F30;
  color: white !important;
  text-decoration: none;
}

.dropdown-menu .dropdown-item {
  font-size: 1rem; 
  /* padding: 10px;  */
  color: black; 
}


.dropdown-item.active:hover,
.dropdown-item:active:hover {
  background-color: #0D1F30;
  color: white; 
}

/* Add padding between navigation items */
.navbar-nav .nav-item {
  padding-right: 2px; 
}

.navbar-brand img {
  height: 4rem;              
  margin-right: 10px;         
  vertical-align: middle;    
}

.navbar-brand {
  font-size: 1.4rem;         
  /* font-weight: bold;          */
  vertical-align: middle;    
  display: inline-flex;       
  align-items: center;        
  /* padding-bottom: 5px;        */
}


/* Set styles for active dropdown items */
.dropdown-item.active,
.dropdown-item:active {
  background-color: #0D1F30; /* Your desired active background color */
  color: white; /* Set active text color to white */
  text-decoration: none; /* Remove underline if present */
}

/* Set styles for inactive dropdown items */
.dropdown-menu .dropdown-item {
  font-size: 1.1rem; /* Adjust the font size as needed */
  padding: 8px 10px;  /*Optional: Adds padding inside the dropdown item */
  color: black; /* Default text color for inactive items */
}

/* Ensure color remains white when hovering over active items */
.dropdown-item.active:hover,
.dropdown-item:active:hover {
  color: white; /* Maintain white text color on hover */
}


.custom-btn {
  background-color:  #F28C28;  
  color: white;               
  border: none;              
  padding: 10px 20px;       
  text-decoration: none;     
  border-radius: 2px;       
  display: inline-block;     
}

.custom-btn:hover {
  background-color: #0D1F30;  
  color:  #FFFFFF;              
}

.custom-btn-alt {
  background-color: #0D1F30;  
  color: white;              
  border: none;             
  padding: 10px 20px;        
  text-decoration: none;     
  border-radius: 2px;        
  display: inline-block;     
}

.custom-btn-alt:hover {
  background-color:  #F28C28; 
  color:  #FFFFFF;              
}

/* --------------------------------------- Banner -------------------------------------- */

 /* Banner Section */
.banner-section {
    background-color: #0D1F30;
    background-size: cover;
    background-position: center;
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;

}

.banner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-img {
  max-width: 100%;    /* Ensures the image fits within the container */
  height: auto;       /* Maintains the aspect ratio */
  display: block;     /* Ensures proper rendering of the image */
  border-radius: 5px; /* Optional: Adds a slight border radius to the image */
}



.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  text-align: center;    
}

.banner-section .col-md-8 {
  width: 80%; /* Increase the width of the text area */
  margin: 0 auto; /* Center the text container */
}

/* --------------------------------------- Footer -------------------------------------- */

 /* Footer Section */
 .footer-section {
    background-color: #0D1F30;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-i {
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem; /* Increase the size of icons */
}
.footer-right {
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
}
  .contact-icon {
    color: #0D1F30;
  }

  .security-logo {
  width: 120px; /* Adjust size as needed */
  height: auto;
}


  /*----------------- Cards ----------------- */

  .card-container-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distributes cards evenly */
    gap: 20px; /* Adds space between the cards */
  }

  .card-container {
    display: flex;
    justify-content: space-between; /* Optional: Adds spacing between cards */
    gap: 20px; /* Optional: Adds gap between cards */
    max-width: 1200px; /* Adjust based on your design */
    margin: 0 auto;
    padding: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* padding: 20px;  */
  margin: 10px 10px;
}

.card img {
  width: 100%; /* Maintain the full width of the card */
  height: auto; /* Maintain the aspect ratio of the image */
  object-fit: cover; /* Crop if necessary to fill the space */
}
/* ------------------------------------------------- Gallery -------------------------------------- */

.photo-gallery {
  text-align: center;
  margin-bottom: 40px;
}

.photo-gallery h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* Space between grid items */
}

.gallery-item {
  text-align: center; /* Center text (caption) under each image */
}

.gallery-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1; /* Forces the image to be a square */
  border-radius: 8px;
  object-fit: cover; /* Ensures the image covers the square without stretching */
  display: block;
  margin-bottom: 10px;
  box-shadow: #F7F9F9; /* Optional: Add a shadow effect */
}

.caption-container {
  padding: 10px;
  border-radius: 2px;
  background-color: #f9f9f9; /* Light grey background */
}

.caption {
  font-size: 1rem;
  color: #333;
  margin: 0;
}

  /* Photo Gallery Container */
  .photo-gallery {
    padding: 20px;
    background-color: #f9f9f9; /* Optional: light background color for contrast */
  }
  
  /* Gallery Items */
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
    gap: 15px; /* Space between items */
  }
  
  /* Individual Gallery Item */
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px; /* Rounded corners for gallery items */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
  }
  
  /* Gallery Image */
  .gallery-item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth zoom-in on hover */
  }
  
  
  /* Caption Container */
  .caption-container {
    position: absolute;
    bottom: 0;
    background: #fff; /* Semi-transparent black background */
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 0.7rem;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    opacity: 0; /* Hidden by default */
  }
  
  /* Show Caption on Hover */
  .gallery-item:hover .caption-container {
    opacity: 1; /* Show caption on hover */
  }



/* Zoom-in Effect on Hover */
.gallery-item:hover img {
  transform: scale(1.05); /* Slight zoom-in effect */
}

/* --------------------------------------- Houses -------------------------------------- */

.container-fluid-content-houses {
  padding: 4% 4% 1%;
  flex: 1;
  margin: 0 auto;   
  width: 100%;  
  text-align: center; 
  /* border: 3px solid grey;  Adds a grey border */
  border-radius: 5px;      /* Rounds the corners */
  background-color: white; /* Optional: Add a background to make the div stand out */
}


.recaptcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.75); /* Adjust the scale value as needed (e.g., 0.5 for 50%, 0.8 for 80%) */
  transform-origin: center; /* Aligns the reCAPTCHA to the center */
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: center;
  margin: 0 auto; /* Ensure the container is centered horizontally */
  width: 100%; /* Ensure the container takes up the full width */
}

.recaptcha-container iframe {
  height: auto !important; /* Adjust iframe height automatically */
  display: block;
}
  /* ============================================== Devices ==============================================*/

/* =================================== Small Laptop and landscape tablets ================================= */

@media (max-width: 1024px) {

  h1{
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  /* h4 {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.8rem;
  } */

  .contact-col {
    padding:2rem 2rem;
  }

  /* ----------------Navbar---------------- */

  /* Logo image */

  /* Shrink the logo image */
  .navbar-brand img {
    height: 2rem; /* Adjust the height of the image */
    margin-right: 5px;
  }

  /* Hide the "Bluegum Ability Services" text */
  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand img {
    display: inline;
    max-height: 50px;
    height: auto;
    margin-right: 5px;

  }

  .navbar-brand {
    font-size: 0; /* Set font size to 0 to hide the text */
  }

  /* Hide the "Bluegum Ability Services" text */
  .navbar-brand {
    display: flex;
    align-items: center;
  }

  /* Adjust padding between navigation items */
  .navbar-nav .nav-item {
    padding-right: 10px; /* Adjust padding as needed */
  }
  .nav-section a {
    font-size: 1rem;  /*Adjust the font size of the links */
  }
  .dropdown-item {
    font-size: 0.8rem;  /*Adjust the font size of the links */
  }

     /* --------------------------------- Toggle --------------------------------- */

    /* Make the hamburger toggle icon smaller */
    .navbar-toggler-icon {
      width: 1.5rem;  /* Adjust the width */
      height: 1.5rem; /* Adjust the height */
    }
  
    /* Optional: Adjust the padding for the navbar-toggler button */
    .navbar-toggler {
      padding: 0.25rem 0.5rem; /* Adjust padding if needed */
    }

  .title-h3 {
    display: none !important;
  }
  .footer-p {
      display: none !important;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }




}
      
/* ======================================== standard mobile phone iPad mini ======================================= */

@media (max-width: 768px) {


  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .banner-section h2 {
    display: none;
  }
  

.banner-left h1, 
.banner-left h2, 
.banner-left h3 {
  margin: 0.5rem 0; /* Increase vertical spacing between headings */
  width: 100%; /* Allow headings to use full width */
  line-height: 1.5; /* Adjust line-height for more spacing between lines */
}

/* Optionally, adjust padding for the .banner-left container */
.banner-left {
  padding: 1rem 2rem; /* Add padding inside the text container */
}

  .banner-section {
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
  }

  /* .col-md-8 {
    padding-right: 4rem;
    padding-left: 4rem;
  } */

  .col-md-4 {
    display: none;
  }

  .contact-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .contact-col {
    padding:1rem 1rem;
    padding-right: 2rem;
  }
      
  .title-h3 {
    font-size: 2rem;
  }
  .social-media {
    display: none !important;
  }

  .footer-p {
      display: none !important;
  }

  
  /* .banner-left, .banner-img {
    text-align: center;
    width: 100%;

  } */

  /* .banner-img {
    display: none;

  } */
  /* .banner-section h1 {
    padding-top: 10px;
  } */

  .gallery-container {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }

  /* .banner-section h2 {
    display: none;

  } */


    /* --------------------------------- Cards --------------------------------- */

  .card-container-inline {
    justify-content: center; /* Centers cards on smaller screens */
  }

  .card-container {
      flex-direction: column;
      gap: 15px;
  }
  
  .card {
      width: 100%;
  }
  

  /* --------------------------------- Pagination --------------------------------- */

  .pagination {
    display: flex;
    justify-content: center;  /* Centers the pagination */
    margin-top: 20px;         /* Adds spacing above the pagination */
  }

  .page-item {
    list-style: none;         /* Removes default list styling */
  }

  .page-link {
    text-decoration: none;
    color: #007bff;           /* Bootstrap primary blue */
    padding: 10px 15px;
    border: 1px solid #007bff;/* Border around each page button */
    border-radius: 2px;
    margin: 0 5px;            /* Adds space between page buttons */
    transition: background-color 0.3s ease;
  }

  .page-link:hover {
    background-color: #007bff;
    color: white;
  }

  /* Optional: Active state style */
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }


  /* --------------------------------- Houses --------------------------------- */
  .card {
    margin-bottom: 20px; /* Adds spacing between cards */
    margin-left: 10px;   /* Adds space to the left of each card */
    margin-right: 10px;  /* Adds space to the right of each card */
    margin-bottom: 20px; /* Adds spacing between cards */
    gap: 15px;
  }

  .houses-container {
    text-align: center;
    margin-bottom: 40px;
  }


  .sil-content {
    display: none !important;
  }

  .card-img-top {
    /* width: 100px; */
    height: 200px; /* Adjust the height of the card image */
    object-fit: cover; /* Ensure the image covers the card */
  }

  .card {
    max-width: 70%;
    margin-left: 7%;
    text-align: center;
  }

}


/* ============================== Portrait mode phone and small tablets ==================================== */


@media (max-width: 600px) {


  /* ----------------Navbar---------------- */


  /* Adjust dropdown item font size */
  .dropdown-menu .dropdown-item {
    font-size: 0.8rem; /* Reduce the font size of dropdown items */
    padding: 8px 10px; /* Adjust padding for dropdown items */
  }



  /* --------------------------------- Banner --------------------------------- */ 

  /* .banner-section {
    background-size: cover;
    background-position: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .banner-section h1 {
    display: none;
  }
  
  .banner-section h2 {
    display: none;
  }

  .banner-section h3 {
    padding-top: 10px;
  } */




  /* --------------------------------- Cards --------------------------------- */
  .card {
    max-width: 90%;
    margin-left: 7%;
    text-align: center;
  }

  .card-img-top {
    height: 200px; /* Adjust the height of the card image */
    object-fit: cover; /* Ensure the image covers the card */
  }

  
  .card-body {
    padding: 1rem;
  }
  
  .card h5 {
    font-size: 1rem;
  }

  .card h6,
  .card p {
    display: none;
  }

  /* --------------------------------- Gallery --------------------------------- */



  /* --------------------------------- Footer --------------------------------- */

  .footer-p {
    display: none !important;
  }

  .footer-r {
    display: none !important;
  }

  .footer-i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }

  /* .banner-left, .banner-img {
    text-align: center;
    width: 100%; /* Stacks content vertically on smaller screens */
    /*} */

  .gallery-container {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}



  
/* ----- #1E73BE ----- */